*{
    box-sizing: border-box;
}

body,html{
    margin: 0;
    padding: 0;

}

body{
    font-family: Roboto;
    height: 100vh;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
}
.total{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.card{
    width: 400px;
    min-height: 250px;
    padding: 30px;
    background: #FAF5EF;
    border-radius: 15px;
    margin: auto;
    box-shadow: 2px 2px #34495e;
}
.card h2{
    text-align: center;
}

.tableDiv{
    margin: auto;
    overflow-y: auto;
    height: 80vh;
}

.tableDiv thead th{
    position: sticky;
    top: 0;
    z-index: 1;
}

.tableDiv tfoot{
    position: sticky;
    bottom: 0;
    background-color: #34ace0;
}

.formSelect{
    font-family: roboto;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 22px;
}

.button, .formSelect {
    font-family: roboto;
    font-size: 15px;
    width: 100%;
    background-color: #4c969b;
    color: white;
    border-radius: 7px;
    border: 0;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
    font-weight: bold;
    box-shadow: 0 0 5px 0 #4d959b;
    cursor: pointer;
}

button:hover {
    background-color: #5e2c82;
    box-shadow: 0 0 5px 0 #5e2c82;
}

h3{
    margin: auto;
}
a:link, a:visited {
    background: none;
    margin: 5px 5px 5px 5px;
    color: #333;
    font-size: 14px;
}

#tableId {
    border-radius:10px;
    background-color: #FAF5EF;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

#tableId td{
    padding: 8px;
}

#tableId tr:hover {
    background-color: #706fd3;
    color:white;
}

#tableId th{
    padding: 12px 8px;
    text-align: center;
    background-color: #34ace0;
    color: white;
    border: none;
}

label{
    font-size: 22px;
    color: #2f3542;
    font-weight: bold;
}
.pageButton{
    width: 100%;
}
input {
    width: 100%;
    padding: 8px 5px;
    padding-bottom: 9px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    background: none;
    border: none;
    border-bottom: 1px solid #4d959b;
    font-size: 16px;
    /* font-weight: bold; */
    font-family: roboto;
    color: #2f3542;
}

input:focus {
    outline: none;
    border-bottom-width: 2px;
    padding-bottom: 8px;
}

#currentPage{
    text-align: center;
    font-family: roboto;
    font-weight: bold;
    color: white;
    font-size: 15px;
}

::-webkit-scrollbar {
    width: 0px;
}
