body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    height: 100vh;
    background: linear-gradient(45deg, #49a09d, #e9c8ff);
    display: flex;
}

.page {
    padding: 0;
    width: 90vw;
    height: 90vh;
    display: flex;
    margin: auto;
    background-color: #5955b3;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 #5955b3;
}

.left {
    padding: 0;
    margin: 0;
    flex: 0 0 205px;
}

.logo {
    padding: 0;
    margin: 10px;
    width: auto;
    height: 100px;
    border-radius: 7px;
}

.logo h2 {
    padding: 0;
    text-align: center;
    color: white;
}

.icon {
    margin: auto 0 auto 12px;
    padding: 0;
    line-height: 23px;
    color: white;
    font-size: 25px;
}

.material-icons.md-36 {
    font-size: 26px;
}

.right {
    padding: 0;
    width: auto;
    flex: 1;
    height: 85vh;
    margin: 2.5vh 2.5vh 2.5vh 0;
    background-color: white;
    border-radius: 15px;
}

.leftButtons {
    padding: 0;
    margin: 10px;
    width: auto;
    height: 42px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    font-size: 14px;
}

.leftButtons:hover {
    margin: 0px 0px 0px 5px;
    background-color: #3498db;
    cursor: pointer;
    font-weight: bold;
    /*font-size: 17px;*/
}

.leftButtons h3 {
    margin: auto auto auto 10px;
    text-align: center;
    color: white;
    line-height: 23px;
}

.table {
    margin: 0;
    padding: 0;
    /*width: 75vw;*/
    height: 90vh;
}

.tableInfo {
    display: flex;
}

.tableInfo, .userUpper {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /*border-bottom: 5px solid #bdc3c7;*/
    padding: 0;
    height: 13vh;
    background-color: white;
}

.tableInfo h2 {
    margin: 0;
    padding-left: 25px;
    color: #5955b3;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 18px;
}

.tableInfoLeft {
    width: 400px;
    margin-right: 0;
}

.tableInfoRight {
    display: flex;
    width: 100%;
}

.userUpper h2 {
    margin: 0;
    color: #5955b3;
    text-align: center;
    line-height: 10vh;
}

.formId {
    text-align: center;
}

.userContent {
    margin: 0px;
    padding: 0px;
    height: 80vh;
    display: flex;
}

.tableContent {
    margin: 0px;
    padding: 0px;
    height: 77vh;
}

#expensesTable {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    max-height: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

#expensesTable tr {
    border-bottom: 1px solid #2f3542;
}

#expensesTable tbody tr:hover {
    color: white;
    font-weight: bold;
    background-color: #706fd3;
}

#expensesTable td {
    text-align: center;
    height: 40px;
}

/*#expensesTable tr:nth-child(even) {*/
/*    background-color: #bdc3c7;*/
/*}*/

#expensesTable thead th {
    height: 50px;
    margin: auto;
    color: white;
    font-size: 17px;
    background-color: #706fd3;
    position: sticky;
    top: 0;
    z-index: 1;
    cursor: pointer;
}

#tableLimits {
    margin: auto;
    overflow-y: auto;
    height: 491px;
}

.tableFooter {
    margin: 0;
    padding: 0;
    display: flex;
}

.tableFooter .leftDiv {
    margin: 0 auto auto 5px;
    padding: 0;
    height: 30px;
}

.tableFooter h4 {
    text-align: center;
    margin: 0;
    padding: 19px 0;
    font-size: 14px;
}

.tableFooter .middleDiv {
    padding: 0;
    width: 25vw;
    height: 7vh;
}

.tableFooter .rightDiv {
    padding: 0;
    width: 15vw;
    height: 7vh;
    display: flex;
}

.tableFooter .rightDiv h4 {
    padding: 0;
    margin: 0;
    height: 20px;
    width: 30px;
    line-height: 7vh;
}

#pageDecrease, #pageIncrease {
    height: 30px;
    width: 30px;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
}

#pageDecrease {
    margin-left: auto;
    margin-right: 5px;
}

#pageIncrease {
    margin-right: 20px;
    margin-left: 5px;
}

.panel {
    display: none;
}

.panel.active {
    display: block;
}

::-webkit-scrollbar {
    width: 0px;
}

.userContent {
    /*display: flex;*/
}

.accountInfo {
    margin: 20px;
    padding: 0;
    height: 300px;
    background-color: #cccccc38;
    text-align: center;
    border-radius: 10px;
}

.accountInfo button {
    margin: 15px;
    padding: 0;
    border: 0;
    width: 200px;
    height: 35px;
}

input, select {
    width: 75%;
    padding: 8px 5px 9px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    background: none;
    border: none;
    border-bottom: 1px solid #4d959b;
    font-size: 16px;
    font-family: Roboto;
    color: #2f3542;
}

input:focus {
    outline: none;
    border-bottom-width: 2px;
    padding-bottom: 8px;
}

.charts {
    background-color: #30336b;
    /*min-width: 400px;*/
    width: 45%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}

.panel-body {
    padding: 3px 20px;
}

.changeButton, .deleteButton {
    margin: 5px;
    padding: 0;
    height: 20px;
    width: 20px;
    border: 0;
    background: none;
}

.changeButton:hover, .deleteButton:hover {
    background: none;
    font-size: 10px;
    box-shadow: none;
    cursor: pointer;
}

.changeButton {
    color: #3498db;
}

.deleteButton {
    color: #e74c3c;
}

button:hover {
    background-color: #5e2c82;
    box-shadow: 0 0 5px 0 #5e2c82;
}

.modal, .filterModalClass {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    text-align: center;
}

@keyframes animateleft {
    from {
        left: -500px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 350px;
    border-radius: 15px;
    animation: animatetop 0.6s;
}

.modal-filter-content {
    background-color: #fefefe;
    margin-left: auto;
    margin-right: 0;
    width: 350px;
    height: 100vh;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    animation: animateleft 0.6s;
}

#filterModal {
    padding: 0;
}

.filter-modal-content {
    padding: 20px;
    margin: auto;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.button {
    font-family: Roboto, serif;
    font-size: 13px;
    background-color: #5955b3;
    color: white;
    border-radius: 7px;
    border: 0;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
    font-weight: bold;
    box-shadow: 0 0 2px 0 #5955b3;
    cursor: pointer;
}

.button .material-icons {
    font-size: 30px;
}

.checkboxExpense {
    height: 17px;
}

.checkboxExpense:hover {
    cursor: pointer;
}

.sortDate:hover, .amountSort:hover {
    cursor: pointer;
}

.deleteSelection, .addFilter {
    margin-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
    height: 30px;
}

.addFilter {
    margin-left: 20px;
}

.deleteSelection {
    background-color: #E91E63;
    box-shadow: 0 0 2px 0 #E91E63;
}

.deleteSelection:disabled {
    background-color: rgb(189, 195, 199);
    box-shadow: 0 0 2px 0 rgb(189, 195, 199, 0.7);
    cursor: default;
}

.filterButton {
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: white;
    color: black;
}

[value~="check"] {
    background-color: mediumvioletred;
    color: white;
}

[value~="check"]:hover {
    background-color: white;
    color: black;
}

.filterButton:hover {
    background-color: mediumvioletred;
    color: white;
}

.dateFilter {
    width: 46%;
    font-size: 14px;
}

.amountDiv {
    width: 305px;
    text-align: center;
}

#amountFilter, #dateFilter {
    text-align: center;
    width: 100px;
    font-size: 15px;
    margin: auto;
}

#dateFilter {
    width: 140px;
}

#amountMaxFilter, #amountMinFilter {
    width: 115px;
    margin: auto;
}

#firstDateFilter, #secondDateFilter {
    width: 140px;
    margin: auto;
}

.amountIntervalDiv {
    display: flex;
}

.filter-modal-content h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.statisticsContent {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.logout {
    margin-top: 330px;
}

.logout:hover {
    margin: 330px 0 0 5px;
    background-color: #f53b57;
    cursor: pointer;
    font-weight: bold;
}

.addExpenseButton {
    margin: auto 20px 10px auto;
    background-color: #2ecc71;
}

.chartTitle {
    width: 100%;
}

.chartTitle h3 {
    color: white;
}

.chartContent {
    margin: 10px;
}

.message {
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 3px;
}

.total {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.card {
    text-align: center;
    width: 325px;
    min-height: 200px;
    padding: 30px;
    background: #FAF5EF;
    border-radius: 15px;
    margin: auto;
    box-shadow: 0 0 2px 0 rgb(20, 226, 164);
}

.card h2 {
    text-align: center;
}

a:link, a:visited {
    background: none;
    margin: 5px 5px 5px 5px;
    color: #333;
    font-size: 14px;
}

label {
    font-size: 22px;
    color: #2f3542;
    font-weight: bold;
}

.pageButton {
    width: 100%;
}

#currentPage {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 15px;
}

.loginButton {
    width: 200px;
}

.formInput {
    width: 300px;
    text-align: center;
}

.headStatistics {
    text-align: center;
    display: flex;
}

.shortStatistics {
    color: white;
    width: 280px;
    height: 100px;
    text-align: center;
    margin: 10px auto;
    background-color: #888888;
    border-radius: 10px;
}

.totalSpent {
    background-color: rgb(200, 74, 141);
    box-shadow: 0 0 2px 0 rgb(200, 74, 141);
}

.dayAverage {
    background-color: rgb(122, 87, 184);
    box-shadow: 0 0 2px 0 rgb(122, 87, 184);
}

.monthAverage {
    background-color: rgb(73, 179, 230);
    box-shadow: 0 0 2px 0 rgb(73, 179, 230);
}

.contentStatistics {
    display: flex;
    margin: 10px;
    height: 420px;
}

.shortStatistics h3 {
    margin-bottom: 0px;
}

.shortStatistics h2 {
    margin: 10px auto auto;
}

.userStatisticHead {
    height: 9vh;
}