<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
    <head>
        <script th:src="@{/js/main.js}"></script>
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
        <title>Test Client</title>
    </head>
    <body>
        <div>
            <label >Name:</label><br>
            <input type="text" id="createUsername"><br>

            <label >Email:</label><br>
            <input type="email" id="createEmail"><br>

            <label >Password:</label><br>
            <input type="password" id="createPassword">
            <br>
            <button type="button" onclick="createUser()">Create account</button>
        </div>
        <div>
            <h1 id="createUserMessage"></h1>
        </div>
    </body>
</html>