<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
    <head>
        <script th:src="@{/js/main.js}"></script>
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
        <title>Test Client</title>
    </head>
    <body>
        <div class="card">
            <label >Name:</label><br>
            <input type="text" id="createUsername"><br>

            <label >Email:</label><br>
            <input type="email" id="createEmail"><br>

            <label >Password:</label><br>
            <input type="password" id="createPassword"><br>

            <label >Confirm Password:</label><br>
            <input type="password" id="createConfirmPassword"><br>

            <h5 id="createUserMessage"></h5>
            <button type="button" onclick="createUser()" class="button">Create account</button>
            <a href="login.html">Login</a>
        </div>
    </body>
</html>