<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
    <head>
        <script th:src="@{/js/main.js}"></script>
        <link th:href="@{/css/user.css}" rel="stylesheet" type="text/css" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <title>Test Client</title>
    </head>
    <body class="createUser">
        <div class="card">
            <div class="formId">
                <h2>Create new account</h2>
                <form autocomplete="off" id="createAccountForm">
                    <input type="text" class="formInput" id="createUsername" required placeholder="Insert username..."><br>
                    <input type="email" class="formInput" id="createEmail" required placeholder="Insert email..."><br>
                    <input type="password" class="formInput" id="passwordInput" required placeholder="Insert password..." onkeyup="matchChecking('passwordInput', 'confirmPasswordInput','passWordMessage')">
                    <input type="password" class="formInput"id="confirmPasswordInput" required placeholder="Repeat password..." onkeyup="matchChecking('passwordInput', 'confirmPasswordInput','passWordMessage')">
                    <p class="message" id="passWordMessage"></p>
                    <br>
                    <button type="submit" class="button loginButton">Create account</button>
                </form>
                <div id="bottomButtons"><br>
                    <a href="login.html">Login</a>
                </div>
            </div>
        </div>
    </body>
</html>