<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
    <head>
        <script th:src="@{/js/main.js}"></script>
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
        <title>Test Client</title>
    </head>
    <body>
        <div id="totalDiv">
            <div id="divForm">
                <h1>Login</h1>
                <label>Name:</label><br>
                <input type="text" id="username" required><br>
                <label>Password:</label><br>
                <input type="password" id="password" required>
                <button  onclick="login()">Login</button>
            </div>
            <h1 th:text="${TokenState}"></h1>
            <a href="passwordReset.html">Forgot password?</a>
        </div>
        <div>
            <h1 id="loginError"></h1>
        </div>
    </body>
</html>