<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <script th:src="@{/js/main.js}"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="card">
        <h1>New passsword</h1>
        <label>Password:</label><br>
        <input type="password" id="passwordReset" required>
        <button onclick="resetPassword()" class="button">Reset</button>
    </div>
</body>
</html>