<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <script th:src="@{/js/main.js}"></script>
    <link th:href="@{/css/user.css}" rel="stylesheet" type="text/css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Title</title>
</head>
<body class="resetPasswordFrom">
    <div class="card">
        <div class="formId">
            <h3>New passsword</h3>
            <form autocomplete="off" id="newPassword-form">
                <input type="password" id="passwordReset" required><br><br>
                <button type="submit" class="button">Reset</button>
            </form>
        </div>
    </div>
</body>
</html>