<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
  <script th:src="@{/js/main.js}"></script>
    <link th:href="@{/css/user.css}" rel="stylesheet" type="text/css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <title>Title</title>
</head>
<body class="passwordReset">
    <div class="card">
        <div class="formId">
            <h3>Send reset link</h3>
            <form autocomplete="off" id="resetPassword-form">
                <input type="text" class="formInput" id="usernameField" required placeholder="Insert email..."><br><br>
                <button type="submit" class="button loginButton">Send</button>
            </form>
            <div id="bottomButtons">
                <a href="login.html">Login</a><br>
            </div>
        </div>
    </div>
</body>
</html>