<html>
    <head>
        <script th:src="@{/js/main.js}"></script>
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
    </head>
    <body onLoad="onLoadCustom()">
        <div class="card">
            <label>Title</label>
            <input type="Text" id="title"><br>
            <label>Category:</label><br>
            <select id="categories" name="categories" class="formSelect">
                <option value="FUEL">Fuel</option>
                <option value="FOOD">Food</option>
                <option value="DRINKS">Drinks</option>
                <option value="SCHOOL">School</option>
                <option value="BEAUTY">Beauty</option>
                <option value="CULTURE">Culture</option>
                <option value="HEALTH">Health</option>
                <option value="GIFT">Gift</option>
                <option value="CLOTHES">Clothes</option>
                <option value="TRANSPORT">Transport</option>
                <option value="EDUCATION">Education</option>
                <option value="OTHER">Other</option>
            </select><br>
            <label>Pay method:</label><br>
            <select id="payMethods" name="payMethods" class="formSelect">
                <option value="CARD">Card</option>
                <option value="CASH">Cash</option>
            </select><br>
            
            <label for="amount">Amount:</label><br>
            <input type="number" id="amount"><br>

            <label for="details">Details:</label><br>
            <input type="Text" id="details"><br>
            
            <label for="date">Date:</label><br>
            <input type="date" id="date"><br>
            <br>
            <button onclick="postExpense()" class="button">Add expense</button>
        </div>
    <div class="tableDiv">
        <table id="tableId">
        </table>
    </div><!--
    <div>
       <table id="lastSevenDays"></table>
    </div>-->
    </body>
</html>